@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #113f74;
  /* Set a  Particles background */
  background: url(https://images.unsplash.com/photo-1502139214982-d0ad755818d8)
    no-repeat center center fixed;
}
